@import "./_components/variables"
@import "../node_modules/normalize.css/normalize.css"

@font-face
  font-family: ArchivoNarrow
  src: url("/font/ArchivoNarrow-Regular.woff")

body
  background: $blank-color
  color: $main-font-color

button
  background: $highlight-level1
  border: 0
  margin: 3px 0 0 3px
  outline: 0
  padding: 4px 8px

  &:focus,
  &:hover
    color: $main-color1

input,
select
  outline: 0
  padding: 0

input[type="number"],
input[type="text"],
select
  background: $blank-color
  border: 1px solid $main-color1
