$main-color1 = #0092fa
$main-color2 = #fa9115


body
  background: #fff
  color: #222
  margin: 0

button
  background: #eee
  border: 0
  color: #555
  cursor: pointer
  outline: 0
  padding: 4px 8px
  margin: 3px 0 0 3px

  &:focus
  &:hover
    color: $main-color1

input
select
  margin: 0
  outline: 0
  padding: 0

input[type="number"]
input[type="text"]
select
  background: #fff
  border: 1px solid $main-color1
