$main-color1 = #0092fa
$main-color2 = #fa9115
$main-font-color = #222

@import "../node_modules/normalize.css/normalize.css"

@font-face
  font-family: ArchivoNarrow
  src: url("/font/ArchivoNarrow-Regular.woff")

body
  background: #fff
  color: $main-font-color

button
  background: #eee
  border: 0
  color: #555
  margin: 3px 0 0 3px
  outline: 0
  padding: 4px 8px

  &:focus,
  &:hover
    color: $main-color1

input,
select
  outline: 0
  padding: 0

input[type="number"],
input[type="text"],
select
  background: #fff
  border: 1px solid $main-color1
