$main-color1 = #0092fa
$main-color2 = #fa9115

$input-height = 20px

$donate-desc-width = 400px
$donate-img-width = 160px
$donation-width = $donate-desc-width + $donate-img-width

$logo-book-width = 62px

body
  font: 12px sans-serif

input[type="number"],
select
  box-sizing: content-box
  height: $input-height

input
  &[type="checkbox"]
    vertical-align: middle

  &[type="number"]
    text-align: right
    width: 50px

select[multiple]
  height: 100%

.input-select-box
  border: 1px solid $main-color1
  display: inline-block
  position: relative

  & > input,
  & > select
    border: 0 !important

  & > input
    box-sizing: border-box
    height: 100%
    left: 0
    padding: 4px
    position: absolute
    text-align: left
    top: 0
    width: calc(100% - 20px)

.link
  color: $main-color1
  cursor: pointer
  font-weight: bold
  text-decoration: none

  &:hover
    color: $main-color2

.opt-desc,
.opt-input
  display: table-cell
  height: 38px
  vertical-align: middle

.opt-desc
  text-align: right
  width: 390px

.opt-input
  padding-left: 20px

.select-multiple-box
  border: 1px solid $main-color1
  padding: 4px

  & input
    margin-right: 4px

.selectbox
  background: #fff
  border: 1px solid currentcolor
  color: $main-color1
  display: table
  height: $input-height
  position: relative
  text-align: center
  transition-duration: .4s
  -webkit-user-select: none
  width: 80px

.selectbox-cover
  background: currentcolor
  height: 100%
  position: absolute
  transition-duration: inherit
  transition-property: left

.selectbox-item
  cursor: pointer
  display: table-cell
  position: relative
  transition-duration: inherit
  transition-property: color
  vertical-align: middle

.selectbox-item-active
  color: #fff
  cursor: default

#donate
  height: 50px
  margin: auto
  width: $donation-width

#donate-desc
  float: left
  width: $donate-desc-width

#donate-img
  float: left
  width: $donate-img-width

#opt-button
  margin: 0 50px 5px 0
  text-align: right
