@import "./_components/variables"

$donate-desc-width = 380px
$donate-img-width = 160px
$donate-width = $donate-desc-width + $donate-img-width

$input-height = 22px

nav-bar-item-colorizing()
  &:nth-of-type(1)
    border-bottom-color: $main-color1

  &:nth-of-type(2)
    border-bottom-color: $main-color2

  &:nth-of-type(3)
    border-bottom-color: $main-color3

  &:nth-of-type(4)
    border-bottom-color: $main-color4

body
  font: 12px sans-serif
  width: 750px

input[type="number"],
input[type="text"],
select
  box-sizing: border-box
  height: $input-height

  // fix a weird layout forced in option V2
  min-height: 0 !important

input[type="number"]
  text-align: right
  width: 50px

select,
select:hover
  // fix a weird layout forced in option V2
  -webkit-appearance: menulist
  background-image: none !important

.input-select-box
  border: 1px solid $main-color1
  display: inline-block
  position: relative

  & > input,
  & > select
    border: 0 !important

  & > input
    box-sizing: border-box
    height: 100%
    left: 0
    padding: 0 $golden-gap-2x
    position: absolute
    text-align: left
    top: 0
    width: calc(100% - 20px)

.link
  color: $main-color1
  cursor: pointer
  font-weight: bold
  text-decoration: none

  &:hover
    color: $main-color2

.nav-bar-item
  border-bottom: $golden-gap-2x solid transparent
  color: $blank-color
  flex: 1 0 0
  font: 16px ArchivoNarrow
  padding-top: $golden-gap-2x
  text-align: center

  &:hover
    nav-bar-item-colorizing()

.nav-bar-item-active
  nav-bar-item-colorizing()

.option-desc
  flex: 1 0 0
  text-align: right
  white-space: pre

.option-input
  flex: 1 0 0
  padding-left: 20px

.option-item
  align-items: center
  display: flex
  height: 42px

.select-multiple-box
  border: 1px solid $main-color1
  display: inline-block
  padding: $golden-gap-2x

  & > label
    align-items: center
    display: flex

    & > input
      margin-right: $golden-gap-2x

.select-button-box
  align-items: center
  background-color: $blank-color
  border: 1px solid currentcolor
  box-sizing: border-box
  color: $main-color1
  display: flex
  height: $input-height
  position: relative
  text-align: center
  transition-duration: .4s
  -webkit-user-select: none
  width: 80px

.select-button-cover
  background-color: currentcolor
  height: 100%
  position: absolute
  transition-duration: inherit
  transition-property: left

.select-button-item
  cursor: pointer
  flex: 1 0 0
  position: relative
  transition-duration: inherit
  transition-property: color

.select-button-item-active
  color: $blank-color
  cursor: default

#donate
  align-items: center
  display: flex
  height: 50px
  margin: auto
  padding: 8px
  width: $donate-width

#donate-desc
  width: $donate-desc-width

#donate-img
  width: $donate-img-width

#nav-bar
  background-color: $main-color5
  display: flex
  margin-bottom: $golden-gap-2x

#option-button-box
  margin-right: 150px
  text-align: right

  & > button
    // fix a weird layout forced in option V2
    background-image: none
    border: 0
    padding: 4px 8px

    margin: $golden-gap-2x 0 0 $golden-gap-2x

    // fix a weird layout forced in option V2
    &:focus,
    &:hover
      color: $main-color1
