@font-face
  font-family: ArchivoNarrow
  src: url(/font/ArchivoNarrow-Regular.otf)

body
  overflow: hidden
  -webkit-user-select: none

div
  cursor: default

input[type="text"]
  border-color: #ccc
  box-sizing: border-box
  margin: 3px 0 0
  padding: 2px
  width: 100%

  &:focus
    border-color: #0092fa

p
  border: 1px solid transparent
  cursor: default
  margin: 0

.box-template
  background: #fff
  position: absolute
  width: 100%

.folderlist
  overflow-y: auto

  &:after
    content: ""
    display: block
    background: #fa9115
    margin-top: 2px
    height: 2px

  & > p
    height: 16px
    line-height: 16px
    padding: 2px 0 2px 4px

.grey-item
  color: #bbb

.headbox
  background: #fa9115
  height: 30px

.head-close
  float: right
  height: 30px
  position: relative
  width: 30px

  &:hover
    background: #e44

  &:before
    height: 12px
    top: 9px
    left: 14px
    width: 2px

  &:after
    height: 2px
    top: 14px
    left: 9px
    width: 12px

  &:before
  &:after
    background: #fff
    content: ""
    position: absolute
    -webkit-transform: rotate(45deg)

.head-title
  color: #fff
  float: left
  font: 22px ArchivoNarrow, simhei
  line-height: 31px
  padding: 0 6px
  width: -webkit-calc(100% - 42px)

.icon
  float: left
  height: 100%
  margin-right: 5px
  width: 16px

.ninja
  background: rgba(0, 0, 0, .16)
  bottom: 0
  position: absolute
  top: 0
  width: 100%

.no-result
  padding: 3px 0
  text-align: center

.rootfolder
  color: #fa9115

.separator
  color: #bbb
  padding: 0 1px !important
  text-overflow: clip

  & > img
    width: 0

.the-end
  background: #fa9115
  border: 0
  height: 2px
  margin: 2px 0 0

#drag-place
  border: 1px dashed #aaa
  height: 20px

#edit-title
  background: #fa9115
  color: #fff
  float: left
  padding: 1px 6px

#editor
  background: #fff
  border: solid #aaa
  border-width: 1px 0
  padding: 3px 0
  position: absolute
  text-align: right

#main
#sub
  background: #fff
  height: 100%
  overflow: hidden
  position: absolute

#main
  right: 0

#menu
  background: #fff
  border: 1px solid #bababa
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
  padding: 4px
  position: absolute

  & p
    padding: 2px 8px

  & > div + div:not([hidden]) // separator between div
    border-top: 1px solid #e9e9e9
    margin-top: 3px
    padding-top: 3px

#menu-cover
  background: rgba(255, 255, 255, .3)

#search-img
  float: left
  margin: 4px 3px 5px 6px

#search-input
  -webkit-appearance: none
  border: 0
  float: left
  height: 100%
  width: -webkit-calc(100% - 21px)

#searchbox
  border: solid #ccc
  border-width: 0 0 1px 1px
  height: 21px

#sub
  left: 0

  & .folderlist:after
  & .headbox
  & .the-end
    background: #0092fa

// no text overflow
p
.head-title
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.selected
#menu p:not(.grey-item):hover
  background: #eee
  border-color: #ddd

.headbox
#searchbox
  margin-bottom: 2px

::-webkit-scrollbar
  background: #fff
  height: 5px
  width: 7px

::-webkit-scrollbar-thumb
  background: #ccc
  border-left: 2px solid #fff

  &:hover
    background: #bbb
    border: 0

  &:active
    background: #aaa

::-webkit-search-cancel-button
  -webkit-appearance: none
  content: url(/img/cancel.png)
  height: 10px
  width: 14px
