$main-color1 = #0092fa
$main-color2 = #fa9115

$golden-gap = 2px
$golden-gap-2x = $golden-gap * 2

$headbox-height = 30px


@font-face
  font-family: ArchivoNarrow
  src: url("/font/ArchivoNarrow-Regular.otf")

body
  overflow: hidden
  -webkit-user-select: none

input[type="text"]
  border-color: #ccc
  box-sizing: border-box
  margin: 3px 0 0
  padding: $golden-gap
  width: 100%

  &:focus
    border-color: $main-color1


.bookmark-item
  height: 16px
  line-height: 16px
  padding: $golden-gap 0 $golden-gap $golden-gap

.box-template
  background: inherit
  position: absolute
  width: 100%

.container
  background: inherit
  height: 100%
  overflow: hidden
  position: absolute

.folderlist
  overflow-y: auto

  &:after
    background: currentcolor
    content: ""
    display: block
    height: $golden-gap
    margin-top: $golden-gap

.grey-item
  color: #bbb !important

.head-close
  float: right
  height: $headbox-height
  position: relative
  width: $headbox-height

  &:hover
    background: #e44

  &:before
    height: 12px
    left: 14px
    top: 9px
    width: 2px

  &:after
    height: 2px
    left: 9px
    top: 14px
    width: 12px

  &:before
  &:after
    background: #fff
    content: ""
    position: absolute
    -webkit-transform: rotate(45deg)

.head-title
  box-sizing: border-box
  color: #fff
  cursor: default
  float: left
  font: 22px ArchivoNarrow, simhei
  line-height: $headbox-height + 1px
  padding: 0 $golden-gap-2x
  width: 'calc(100% - %s)' % $headbox-height

.headbox
  background: currentcolor
  height: $headbox-height
  margin-bottom: $golden-gap

.icon
  float: left
  height: 100%
  margin-right: $golden-gap-2x
  width: 16px

.item
  border: 1px solid transparent
  color: #222
  cursor: default
  margin: 0

.menu-item
  padding: $golden-gap 8px

.ninja
  background: rgba(0, 0, 0, .16)
  bottom: 0
  position: absolute
  top: 0
  width: 100%

.no-result
  color: #222
  cursor: default
  padding: 3px 0
  text-align: center

.no-text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.rootfolder
  color: inherit !important

.selected
  background: #eee
  border-color: #ddd

.separator
  color: #bbb
  padding-bottom: 0
  padding-top: 0
  text-overflow: clip

  & > .icon
    display: none


#drag-place
  border: 1px dashed #aaa
  height: 20px

#edit-title
  background: $main-color2
  color: #fff
  cursor: default
  float: left
  padding: 1px 6px

#editor
  background: #fff
  border: solid #aaa
  border-width: 1px 0
  padding: 3px 0
  position: absolute
  text-align: right

#main
  color: $main-color2
  right: 0

#menu
  background: #fff
  border: 1px solid #bababa
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
  padding: $golden-gap-2x
  position: absolute

  & > div + div:not([hidden]) // separator between div
    border-top: 1px solid #e9e9e9
    margin-top: 3px
    padding-top: 3px

#menu-cover
  background: rgba(255, 255, 255, .3)

#search-input
  -webkit-appearance: none
  background: transparent
  border: 0
  height: 100%
  width: calc(100% - 19px)

#searchbox
  border: solid #ccc
  border-width: 0 0 1px 1px
  height: 21px
  margin-bottom: $golden-gap

  &:before
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAsklEQVR42mNggIKGlq5UIL4CxP+B+B0QtwMxGwM2AJRYClUIws+R2LeAmAddcQJU8gIQq0LFeIB4GlR8K7qGJ1AJfiw2w5wojSwIEniCw6l1UHkfZMFfQPwFh4bNUA16yIIwt3aiKfaAih9HN0UAiN/AJIG4A4hXIIXUMSBmRdckC8T7kBTBgvQdlH0diIWxuVkL5EEgtoTyFZFsfwDEYgyEAFCRPJKm9wzEAKimh0D8DABuHq/4QpP4dwAAAABJRU5ErkJggg==")
    float: left
    padding: 4px 3px 5px 4px

#sub
  color: $main-color1
  left: 0


::-webkit-scrollbar
  background: transparent
  height: 5px + $golden-gap
  width: 5px + $golden-gap

::-webkit-scrollbar-thumb
  background: #ccc
  border-left: $golden-gap solid #fff

  &:hover
    background: #bbb
    border: 0

  &:active
    background: #aaa

::-webkit-search-cancel-button
  -webkit-appearance: none
  content: url("/img/cancel.png")
  height: 10px
  width: 14px
