@import "./_components/variables"

$search-box-height = 21px

$tree-head-box-height = 30px

highlight-item()
  background: $highlight-level1
  border-color: $highlight-level2

body
  -webkit-user-select: none

input[type="text"]
  border-color: $highlight-level3
  box-sizing: border-box
  margin: 3px 0 0
  padding: $golden-gap
  width: 100%

  &:focus
    border-color: $main-color1

.bookmark-item
  align-items: center
  display: flex
  padding: $golden-gap 0 $golden-gap $golden-gap

  &:hover
    highlight-item()

.bookmark-list
  overflow-y: auto

  &::after
    background: currentcolor
    content: ""
    display: block
    height: $golden-gap
    margin-top: $golden-gap

.bookmark-tree
  background: inherit
  position: absolute
  width: 100%

.cover
  background: rgba(0, 0, 0, .16)
  bottom: 0
  position: absolute
  top: 0
  width: 100%

.display-none
  display: none !important

.grey-item
  color: $highlight-level4 !important

.icon
  margin-right: $golden-gap-2x

.item
  border: 1px solid transparent
  color: $main-font-color
  cursor: default

.menu-item
  padding: $golden-gap 8px

  &:hover
    highlight-item()

.no-bookmark > .icon
  display: none

.no-result
  color: $main-font-color
  cursor: default
  padding: $golden-gap 0
  text-align: center

.no-text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.panel
  background: inherit
  position: relative

.root-folder
  color: inherit !important

.selected
  highlight-item()

.separator
  box-sizing: border-box
  color: $highlight-level4

  & > .icon
    display: none

  & > .no-text-overflow
    text-overflow: clip

.tree-head-box
  background: currentcolor
  display: flex
  height: $tree-head-box-height
  margin-bottom: $golden-gap

.tree-head-close
  flex-shrink: 0 // don't push me out of view when title is too long
  height: $tree-head-box-height
  position: relative
  width: $tree-head-box-height

  &:hover
    background: $main-color3

  &::before,
  &::after
    background: $blank-color
    content: ""
    position: absolute
    -webkit-transform: rotate(45deg)

  &::before
    height: 12px
    left: 14px
    top: 9px
    width: 2px

  &::after
    height: 2px
    left: 9px
    top: 14px
    width: 12px

.tree-head-title
  color: $blank-color
  cursor: default
  font: 22px ArchivoNarrow, simhei
  line-height: $tree-head-box-height + 1px
  margin-right: auto
  padding: 0 $golden-gap-2x

#app
  background: inherit

#container
  background: inherit

#drag-place
  border: 1px dashed $highlight-level5
  height: 20px

#editor
  background: $blank-color
  border: solid $highlight-level4
  border-width: 1px 0
  padding: 3px 0
  position: absolute
  text-align: right

#editor-title
  background: $main-color2
  color: $blank-color
  cursor: default
  float: left
  padding: 1px 6px

#main
  color: $main-color2

#menu
  background: $blank-color
  border: 1px solid $highlight-level4
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
  padding: $golden-gap-2x
  position: absolute

  & > div + div:not([hidden]) // separator between div
    border-top: 1px solid $highlight-level2
    margin-top: $golden-gap
    padding-top: $golden-gap

#menu-cover
  background: rgba(255, 255, 255, .3)

#panel-box
  background: inherit
  display: flex
  flex-direction: row-reverse

#search-box
  border: solid $highlight-level3
  border-width: 0 0 1px 0
  display: flex
  height: $search-box-height
  margin-bottom: $golden-gap

#search-img
  padding: 5px 4px 4px 5px

#search-input
  background: transparent
  border: 0
  color: $main-font-color
  font-size: 12px
  width: 100%

#sub
  color: $main-color1
  margin-right: $golden-gap

::-webkit-scrollbar
  background: transparent
  height: 5px
  width: 5px + $golden-gap

::-webkit-scrollbar-thumb
  background: $highlight-level3
  border-left: $golden-gap solid $blank-color

  &:hover
    background: $highlight-level4
    border: 0

  &:active
    background: $highlight-level5

::-webkit-search-cancel-button
  content: url("/img/cancel.png")
  height: 10px
  width: 14px
