$main-color1 = #0092fa
$main-color2 = #fa9115
$main-font-color = #222

$golden-gap = 2px
$golden-gap-2x = $golden-gap * 2

$head-box-height = 30px

$search-box-height = 21px

highlight-item()
  background: #eee
  border-color: #ddd

body
  -webkit-user-select: none

input[type="text"]
  border-color: #ccc
  box-sizing: border-box
  margin: 3px 0 0
  padding: $golden-gap
  width: 100%

  &:focus
    border-color: $main-color1

.bookmark-item
  height: 16px
  line-height: 16px
  padding: $golden-gap 0 $golden-gap $golden-gap

  &:hover
    highlight-item()

.bookmark-list
  overflow-y: auto

  &::after
    background: currentcolor
    content: ""
    display: block
    height: $golden-gap
    margin-top: $golden-gap

.bookmark-tree
  background: inherit
  position: absolute
  width: 100%

.cover
  background: rgba(0, 0, 0, .16)
  bottom: 0
  position: absolute
  top: 0
  width: 100%

.display-none
  display: none !important

.grey-item
  color: #bbb !important

.head-box
  background: currentcolor
  height: $head-box-height
  margin-bottom: $golden-gap

.head-close
  float: right
  height: $head-box-height
  position: relative
  width: $head-box-height

  &:hover
    background: #e44

  &::before,
  &::after
    background: #fff
    content: ""
    position: absolute
    -webkit-transform: rotate(45deg)

  &::before
    height: 12px
    left: 14px
    top: 9px
    width: 2px

  &::after
    height: 2px
    left: 9px
    top: 14px
    width: 12px

.head-title
  box-sizing: border-box
  color: #fff
  cursor: default
  float: left
  font: 22px ArchivoNarrow, simhei
  line-height: $head-box-height + 1px
  padding: 0 $golden-gap-2x
  width: "calc(100% - %s)" % $head-box-height

.icon
  float: left
  height: 100%
  margin-right: $golden-gap-2x
  width: 16px

.item
  border: 1px solid transparent
  color: $main-font-color
  cursor: default
  margin: 0

.menu-item
  padding: $golden-gap 8px

  &:hover
    highlight-item()

.no-result
  color: $main-font-color
  cursor: default
  padding: $golden-gap 0
  text-align: center

.no-text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.panel
  background: inherit
  display: table-cell
  position: relative

  &::before
    content: ""
    display: block
    width: inherit

.panel-row
  background: inherit
  display: table-row

.root-folder
  color: inherit !important

.selected
  highlight-item()

.separator
  color: #bbb
  padding-bottom: 0
  padding-top: 0
  text-overflow: clip

  & > .icon
    display: none

#app
  background: inherit

#container
  background: inherit

#drag-place
  border: 1px dashed #aaa
  height: 20px

#editor
  background: #fff
  border: solid #aaa
  border-width: 1px 0
  padding: 3px 0
  position: absolute
  text-align: right

#editor-title
  background: $main-color2
  color: #fff
  cursor: default
  float: left
  padding: 1px 6px

#main
  color: $main-color2

#menu
  background: #fff
  border: 1px solid #bababa
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
  padding: $golden-gap-2x
  position: absolute

  & > div + div:not([hidden]) // separator between div
    border-top: 1px solid #e9e9e9
    margin-top: $golden-gap
    padding-top: $golden-gap

#menu-cover
  background: rgba(255, 255, 255, .3)

#panel-box
  background: inherit
  border-collapse: collapse
  display: table
  table-layout: fixed

#search-box
  border: solid #ccc
  border-width: 0 0 1px 1px
  height: $search-box-height
  margin-bottom: $golden-gap

#search-img
  float: left
  padding: 5px 4px 4px 5px

#search-input
  background: transparent
  border: 0
  color: $main-font-color
  float: right
  font-size: 12px
  height: 100%
  width: "calc(100% - %s)" % $search-box-height

#sub
  border-right: $golden-gap transparent solid
  color: $main-color1

::-webkit-scrollbar
  background: transparent
  height: 5px
  width: 5px + $golden-gap

::-webkit-scrollbar-thumb
  background: #ccc
  border-left: $golden-gap solid #fff

  &:hover
    background: #bbb
    border: 0

  &:active
    background: #aaa

::-webkit-search-cancel-button
  content: url("/img/cancel.png")
  height: 10px
  width: 14px
