.main {
  display: inline flow-root;
  border: 1px solid var(--main-color1);
  padding-inline: var(--golden-gap-4x);
}

.checkbox {
  margin: 0;
  margin-inline-end: var(--golden-gap-2x);
  vertical-align: middle;
}

.list-item {
  margin-block: var(--golden-gap-4x);
}
