.item {
  width: 100%;
  padding: var(--golden-gap-2x);
  border: 0;
  background-color: transparent;
  color: inherit;
  font-size: 1em;
  transition-duration: inherit;
  transition-property: color;
}

.item-active {
  color: var(--main-background-color);
  cursor: default;
}

.main {
  position: relative;
  flex: 1 0 0;
  transition-duration: inherit;
}
