.item {
  width: 100%;
  padding: var(--golden-gap-2x) var(--golden-gap-4x);
  border: 0;
  background-color: transparent;
  color: var(--frontground-color);
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.item-active {
  color: var(--background-color);
  cursor: default;
}
