.main {
  display: inline flow-root;
  position: relative;
  border: 1px solid var(--main-color1);
}

.input,
.select {
  border: 0 !important;
  height: 100%;
}

.input {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-background-color);
  width: 85%;
}

.select {
  outline: 0;
  background-color: transparent;
}
