.main {
  display: flex;
  gap: var(--gap-rem-2x);
  align-items: center;
  padding-inline: var(--gap-rem);
  color: var(--main-font-color);
  /* stylelint-disable-next-line value-keyword-case */
  composes: listItem from '../../../../core/styles/composes.module.css';

  &.dragIndicator {
    border: 1px dashed var(--highlight-level5);
  }

  &.rootFolder {
    color: inherit !important;
  }

  &.highlighted {
    outline: 0;
    border-color: var(--highlight-level2);
    background-color: var(--highlight-level1);
  }

  &.separator {
    color: var(--highlight-level4);

    & > .title {
      padding-block: var(--gap-rem);
      text-overflow: clip;
      line-height: 0.5;
    }
  }

  &.unclickable {
    color: var(--highlight-level4);

    & > img {
      opacity: 0.4;
    }
  }
}

.icon {
  flex-shrink: 0;
  aspect-ratio: 1;
  width: auto;
  height: 1em;
  min-height: 1rem;
}

.title {
  padding-block: var(--gap-rem-2x);
  line-height: 1;
  /* stylelint-disable-next-line value-keyword-case */
  composes: noTextOverflow from '../../../../core/styles/composes.module.css';
}
