.full-height {
  height: 100%;
}

.main {
  composes: list-item from '../../../../core/styles/composes.css';
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: var(--golden-gap) 0 var(--golden-gap) var(--golden-gap);

  &.drag-indicator {
    border: 1px dashed var(--highlight-level5);
  }

  &.root-folder {
    color: inherit !important;
  }

  &.highlighted {
    border-color: var(--highlight-level2);
    background-color: var(--highlight-level1);
    outline: 0;
  }

  &.separator {
    color: var(--highlight-level4);

    & > .title {
      text-overflow: clip;
    }
  }

  &.unclickable {
    color: var(--highlight-level4);

    & > img {
      opacity: 0.4;
    }
  }
}

.icon {
  flex-shrink: 0;
  margin-right: var(--golden-gap-2x);
}

.title {
  composes: no-text-overflow from '../../../../core/styles/composes.css';
}
