.main {
  /* stylelint-disable-next-line value-keyword-case */
  composes: listItem from '../../../../core/styles/composes.module.css';
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: var(--golden-gap);
  color: var(--main-font-color);
  gap: var(--golden-gap-2x);

  &.dragIndicator {
    border: 1px dashed var(--highlight-level5);
  }

  &.rootFolder {
    color: inherit !important;
  }

  &.highlighted {
    border-color: var(--highlight-level2);
    background-color: var(--highlight-level1);
    outline: 0;
  }

  &.separator {
    color: var(--highlight-level4);
    line-height: 0.5;

    & > .title {
      text-overflow: clip;
    }
  }

  &.unclickable {
    color: var(--highlight-level4);

    & > img {
      opacity: 0.4;
    }
  }
}

.icon {
  min-width: 16px;
  min-height: 16px;
  flex-shrink: 0;
}

.title {
  /* stylelint-disable-next-line value-keyword-case */
  composes: noTextOverflow from '../../../../core/styles/composes.module.css';
}
