@import '../../../../core/styles/mixins.css';
@import '../../../../core/styles/variables.css';

.full-height {
  height: 100%;
}

.main {
  align-items: center;
  box-sizing: border-box;
  composes: list-item from '../../../../core/styles/composes.css';
  display: flex;
  padding: var(--golden-gap) 0 var(--golden-gap) var(--golden-gap);

  &.drag-indicator {
    border: 1px dashed var(--highlight-level5);
  }

  &.root-folder {
    color: inherit !important;
  }

  &.highlighted {
    @apply --highlight-list-item;
  }

  &.separator {
    color: var(--highlight-level4);

    & > .title {
      text-overflow: clip;
    }
  }

  &.unclickable {
    @apply --grey-list-item;
  }
}

.icon {
  flex-shrink: 0;
  margin-right: var(--golden-gap-2x);
  width: var(--iconSize);
}

.title {
  composes: no-text-overflow from '../../../../core/styles/composes.css';
}
