.fullHeight {
  height: 100%;
}

.main {
  /* stylelint-disable-next-line value-keyword-case */
  composes: listItem from '../../../../core/styles/composes.module.css';
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: var(--golden-gap);
  color: var(--main-font-color);

  &.dragIndicator {
    border: 1px dashed var(--highlight-level5);
  }

  &.rootFolder {
    color: inherit !important;
  }

  &.highlighted {
    border-color: var(--highlight-level2);
    background-color: var(--highlight-level1);
    outline: 0;
  }

  &.separator {
    color: var(--highlight-level4);

    & > .title {
      text-overflow: clip;
    }
  }

  &.unclickable {
    color: var(--highlight-level4);

    & > img {
      opacity: 0.4;
    }
  }
}

.icon {
  flex-shrink: 0;
  margin-right: var(--golden-gap-2x);
}

.title {
  /* stylelint-disable-next-line value-keyword-case */
  composes: noTextOverflow from '../../../../core/styles/composes.module.css';
}
