.main {
  /* stylelint-disable-next-line value-keyword-case */
  composes: listItem from '../../../core/styles/composes.module.css';
  padding-block: var(--gap-rem);
  padding-inline: var(--gap-rem-4x);
  white-space: nowrap;

  &.unclickable {
    color: var(--highlight-level4);
  }

  &.focused:not(.unclickable) {
    outline: 0;
    border-color: var(--highlight-level2);
    background-color: var(--highlight-level1);
  }
}
