.main {
  border: 1px solid var(--highlight-level3);
  box-shadow: 0 var(--gap-rem) var(--gap-rem-2x) rgb(0 0 0 / 20%);
  background-color: rgb(var(--bg-color-rgb));
  padding: var(--gap-rem-2x);

  /* separator between menu fields */
  & > * + * {
    margin-block-start: var(--gap-rem-2x);
    border-block-start: 1px solid var(--highlight-level2);
    padding-block-start: var(--gap-rem-2x);
  }
}
