.main {
  composes: list-item from '../../../core/styles/composes.css';
  padding: var(--golden-gap) var(--golden-gap-4x);
  white-space: nowrap;

  &.unclickable {
    color: var(--highlight-level4);
  }

  &.focused:not(.unclickable) {
    border-color: var(--highlight-level2);
    background-color: var(--highlight-level1);
    outline: 0;
  }
}
