.main {
  composes: focus from '../../../styles/composes.module.css';
}

.textInput {
  border: 1px solid var(--highlight-level2);
  background-color: transparent;
  padding-block: var(--gap-rem-2x);
  padding-inline: var(--gap-rem-4x);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
