.main {
  composes: focus from '../../../styles/composes.css';
}

.textInput {
  padding: var(--golden-gap-2x) var(--golden-gap-4x);
  border: 1px solid var(--highlight-level2);
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
