.item {
  width: 100%;
  padding: var(--golden-gap-2x) var(--golden-gap-4x);
  border: 0;
  background-color: transparent;
  color: var(--frontground-color);
  transition: color var(--transition-duration);
}

.item-active {
  color: var(--background-color);
  cursor: default;
}
