.item {
  transition: color var(--transition-duration);
  border: 0;
  background-color: transparent;
  padding-block: var(--golden-gap-2x);
  padding-inline: var(--golden-gap-4x);
  width: 100%;
  color: var(--frontground-color);
}

.itemActive {
  cursor: default;
  color: var(--background-color);
}
