.item {
  transition: color var(--transition-duration);
  border: 0;
  background-color: transparent;
  padding-block: var(--gap-px-2x);
  padding-inline: var(--gap-px-4x);
  color: var(--frontground-color);
}

.itemActive {
  cursor: default;
  color: var(--background-color);
}
