.item {
  transition: color var(--transition-duration);
  border: 0;
  background-color: transparent;
  color: var(--frontground-color);
  /* stylelint-disable-next-line value-keyword-case */
  composes: noTextOverflow from '../../../../../../core/styles/composes.module.css';
}

.itemActive {
  cursor: default;
  color: var(--background-color);
}

.main {
  display: contents;
}
