{
  "$schema": "https://json.schemastore.org/swcrc.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "useBuiltins": true
      }
    }
  },
  "env": {
    // bug - cannot get target browsers from package.json nor .browserslistrc
    "targets": "chrome >= 88",
    // `usage` mode is less efficient than `entry`
    "mode": "entry",
    "coreJs": "3.26",
    "shippedProposals": true
  }
}
