{
  "$schema": "https://json.schemastore.org/swcrc.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "useBuiltins": true
      }
    }
  },
  "env": {
    // `usage` mode is less efficient than `entry`
    "mode": "entry",
    "coreJs": "3.27",
    "shippedProposals": true
  }
}
