{
  "$schema": "https://json.schemastore.org/swcrc.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "useBuiltins": true
      }
    }
  },
  "env": {
    // swc does not read from .browserslistrc: https://github.com/swc-project/swc/issues/3365
    "targets": "chrome >= 108",
    // `usage` mode is less efficient than `entry`
    "mode": "entry",
    "coreJs": "3.36",
    "shippedProposals": true
  }
}
