.main {
  composes: focus from '../../../styles/composes.css';
  padding: var(--golden-gap-2x);
  border: 1px solid var(--highlight-level2);
  background-color: transparent;
  color: var(--main-font-color);
  font-size: inherit;
}
