@import "./variables.css";

.button {
  background-color: var(--highlight-level1);
  padding: var(--golden-gap-2x) var(--golden-gap-4x);

  &:hover {
    color: var(--main-color1);
  }
}

.cover {
  background-color: rgba(0, 0, 0, 0.16);
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.list-item {
  border: 1px solid transparent;
  color: var(--main-font-color);
  cursor: default;
}

.no-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plain-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
