@import './variables.css';

:root {
  --grey-list-item: {
    color: var(--highlight-level4) !important;

    & > img {
      opacity: 0.4;
    }
  }

  --highlight-list-item: {
    background-color: var(--highlight-level1);
    border-color: var(--highlight-level2);
    outline: 0;
  }
}
