:root {
  --blank-color: #fff;
  --golden-gap: 2px;
  --golden-gap-2x: calc(var(--golden-gap) * 2);
  --golden-gap-4x: calc(var(--golden-gap) * 4);
  --highlight-level1: #eee;
  --highlight-level2: #ddd;
  --highlight-level3: #ccc;
  --highlight-level4: #bbb;
  --highlight-level5: #aaa;
  --main-color1: #0092fa;
  --main-color2: #fa9115;
  --main-color3: #1ca;
  --main-color4: #e44;
  --main-color5: #a75;
  --main-font-color: #222;

  /* common for options */
  --options-input-height: 22px;
}
