@import "open-color/open-color.css";

:root {
  --golden-gap: 2px;
  --golden-gap-2x: calc(var(--golden-gap) * 2);
  --golden-gap-4x: calc(var(--golden-gap) * 4);
  --highlight-level1: var(--oc-gray-2);
  --highlight-level2: var(--oc-gray-3);
  --highlight-level3: var(--oc-gray-4);
  --highlight-level4: var(--oc-gray-5);
  --highlight-level5: var(--oc-gray-6);
  --input-height: 22px;
  --main-color1: var(--oc-blue-5);
  --main-color2: var(--oc-orange-5);
  --main-color3: var(--oc-teal-5);
  --main-color4: var(--oc-red-7);
  --main-color5: #8d6e63; /* same as material color palette brown 400 */
  --main-font-color: var(--oc-gray-9);
}
