@import '../../../../core/styles/variables.css';

.input {
  composes: focus from '../../../../core/styles/composes.css';
  composes: input from '../../../../core/styles/composes.css';
}

.main {
  border: 1px solid var(--main-color1);
  display: inline-block;
  padding: var(--golden-gap-2x);

  & > label {
    align-items: center;
    display: flex;

    & > input {
      margin-right: var(--golden-gap-2x);
    }
  }
}
