@import '../../../../core/styles/variables.css';

.input {
  composes: focus from '../../../../core/styles/composes.css';
  composes: input from '../../../../core/styles/composes.css';
}

.main {
  display: inline-block;
  padding: var(--golden-gap-2x);
  border: 1px solid var(--main-color1);

  & > label {
    display: flex;
    align-items: center;

    & > input {
      margin-right: var(--golden-gap-2x);
    }
  }
}
