.main {
  composes: focus from '../../../styles/composes.module.css';
  padding: var(--golden-gap-2x) var(--golden-gap-4x);
  border: 0;
  background-color: var(--highlight-level1);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
