.main {
  border: 0;
  background-color: var(--highlight-level1);
  padding-block: var(--gap-rem-2x);
  padding-inline: var(--gap-rem-4x);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  composes: focus from '../../../styles/composes.module.css';
}
