.container {
  display: inline flex;
  gap: var(--gap-rem-4x);
  align-items: center;
  background-color: var(--highlight-level1);
  padding: var(--gap-rem-4x);
}

.desc {
  line-height: 1.5;

  & > ol {
    display: inline;
    padding: 0;
    list-style-position: inside;
  }
}

.main {
  display: flex;
  justify-content: center;
  margin: var(--gap-rem-4x);
}
