:root {
  --desc-width: 280px;
  --img-width: 170px;
  --main-width: calc(var(--desc-width) + var(--img-width));
}

.desc {
  width: var(--desc-width);
  line-height: 1.5;

  & > ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
}

.img {
  width: var(--img-width);
}

.main {
  display: flex;
  width: var(--main-width);
  align-items: center;
  padding: var(--golden-gap-4x);
  margin: var(--golden-gap-4x) auto;
  background-color: var(--highlight-level1);
}
