.container {
  display: inline-flex;
  align-items: center;
  padding: var(--golden-gap-4x);
  background-color: var(--highlight-level1);
}

.desc {
  line-height: 1.5;

  & > ol {
    display: inline;
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
}

.img {
  padding-right: 20px;
}

.main {
  display: flex;
  justify-content: center;
  margin: var(--golden-gap-4x);
}
