.cancel-icon {
  height: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: var(--golden-gap-2x);
  color: var(--highlight-level4);
}

.main {
  display: flex;
  height: var(--input-height);
  border: solid var(--highlight-level3);
  border-width: 0 0 1px;
  margin-bottom: var(--golden-gap);
}

.search-icon {
  height: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: var(--golden-gap-2x);
  padding-right: 3px;
  color: var(--highlight-level4);
}

.search-input {
  flex-grow: 1;
  padding: 0 var(--golden-gap);
  border: 0;
  margin-right: var(--golden-gap);
  background-color: transparent;
  font-size: 12px;
  outline: 0;
}
