.search-icon {
  flex-shrink: 0;
  height: 100%;
  color: var(--highlight-level4);
}

.cancel-button {
  flex-shrink: 0;
  color: var(--highlight-level4);
  composes: focus from '@/core/styles/composes.module.css';

  &:is(:hover, :active) {
    color: var(--highlight-level5);
  }
}

.cancel-icon {
  flex-shrink: 0;
  height: 100%;
}

.main {
  display: flex;
  gap: var(--gap-rem);
  margin-block-end: var(--gap-rem);
  border: 0;
  border-block-end: 1px solid var(--highlight-level3);
  padding: var(--gap-rem);
  height: 1.5em;
}

.search-input {
  flex-grow: 1;
  outline: 0;
  border: 0;
  padding: 0;
  min-width: 0;
  height: 100%;
}
