.icon {
  height: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: var(--golden-gap);
  color: var(--highlight-level4);
}

.main {
  --input-font-size: 1em;
  --input-vertical-padding: var(--golden-gap-2x);

  display: flex;
  height: calc(var(--input-font-size) + var(--input-vertical-padding) * 2);
  border: solid var(--highlight-level3);
  border-width: 0 0 1px;
  margin-bottom: var(--golden-gap);
}

.searchInput {
  flex-grow: 1;
  padding: var(--input-vertical-padding) var(--golden-gap);
  border: 0;
  color: var(--main-font-color);
  font-size: var(--input-font-size);
  outline: 0;
}
