.cover {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: currentColor;
  transition-duration: inherit;
  transition-property: left;
}

.main {
  position: relative;
  display: flex;
  width: 80px;
  height: var(--input-height);
  box-sizing: border-box;
  align-items: center;
  border: 1px solid currentColor;
  background-color: var(--main-background-color);
  color: var(--main-color1);
  text-align: center;
  transition-duration: 0.4s;
}
