version: 2.1
jobs:
  build:
    docker:
      - image: 'cimg/node:18.12'
    steps:
      - 'checkout'
      # require `sudo`: https://github.com/CircleCI-Public/cimg-node/issues/277
      - run: 'sudo corepack enable'
      - restore_cache:
          key: 'yarn-packages-{{ checksum "yarn.lock" }}'
      - run: 'yarn install --immutable'
      - save_cache:
          key: 'yarn-packages-{{ checksum "yarn.lock" }}'
          paths:
            - '.yarn/cache'
      - run: 'yarn ci'
