@import "../common/globals.scss";
@import "../common/variables.scss";

body {
  font: 12px sans-serif;
  width: 750px;
}

input[type="number"],
input[type="text"],
select {
  box-sizing: border-box;
  height: $options-input-height;
}

input[type="number"] {
  text-align: right;
  width: 50px;
}
