@import "../common/variables.scss";

$desc-width: 380px;
$img-width: 160px;
$main-width: $desc-width + $img-width;

.desc {
  width: $desc-width;
}

.img {
  width: $img-width;
}

.link {
  color: $main-color1;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $main-color2;
  }
}

.main {
  align-items: center;
  display: flex;
  height: 50px;
  margin: auto;
  padding: 8px;
  width: $main-width;
}
