@import "../common/variables.css";

.main {
  border: 1px solid var(--main-color1);
  display: inline-block;
  height: var(--options-input-height);
  position: relative;
}

.input,
.select {
  border: 0 !important;
  height: 100%;
  padding: 0 var(--golden-gap-2x);
}

.input {
  box-sizing: border-box;
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: calc(100% - var(--options-input-height));
}
