@import "../common/variables.css";

.main {
  border: 1px solid var(--main-color1);
  display: inline-block;
  position: relative;

  & > input[type="text"],
  & > select {
    border: 0;
  }

  & > input[type="text"] {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 0 var(--golden-gap-2x);
    position: absolute;
    text-align: left;
    top: 0;
    width: calc(100% - var(--options-input-height));
  }
}
