@import "../common/variables.scss";

@mixin colorizing() {
  &:nth-of-type(1) {
    border-bottom-color: $main-color1;
  }

  &:nth-of-type(2) {
    border-bottom-color: $main-color2;
  }

  &:nth-of-type(3) {
    border-bottom-color: $main-color3;
  }

  &:nth-of-type(4) {
    border-bottom-color: $main-color4;
  }
}

.main {
  border-bottom: $golden-gap-2x solid transparent;
  color: $blank-color;
  cursor: default;
  flex: 1 0 0;
  font: 16px ArchivoNarrow;
  padding-top: $golden-gap-2x;
  text-align: center;
  text-decoration: none;

  &:hover {
    @include colorizing();
  }
}

.main-active {
  @include colorizing();
}
