@import "../common/variables.css";

.desc {
  white-space: pre-wrap;
}

.input {
  & > input[type="number"],
  & > input[type="text"],
  & > select {
    border-color: var(--main-color1);
    box-sizing: border-box;
    height: var(--input-height);
    padding: 0 var(--golden-gap-2x);
  }

  & > input[type="number"] {
    text-align: right;
    width: 50px;
  }
}
