@import "../common/variables.css";

.table {
  border-spacing: var(--golden-gap-4x);
  table-layout: fixed;
  width: 100%;

  & > tbody,
  & > tfoot {
    & > tr > td:first-child {
      text-align: right;
    }
  }
}
