@import "../common/variables.css";

.cover {
  background-color: currentcolor;
  height: 100%;
  position: absolute;
  transition-duration: inherit;
  transition-property: left;
  width: 50%;
}

.main {
  align-items: center;
  background-color: var(--oc-white);
  border: 1px solid currentcolor;
  box-sizing: border-box;
  color: var(--main-color1);
  display: flex;
  height: var(--input-height);
  position: relative;
  text-align: center;
  transition-duration: 0.4s;
  width: 80px;
}
