@import "../common/variables.css";

.item {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  transition-duration: inherit;
  transition-property: color;
  width: 100%;
}

.item-active {
  color: var(--oc-white);
  cursor: default;
}

.main {
  flex: 1 0 0;
  height: 100%;
  position: relative;
  transition-duration: inherit;
}
