.listItem {
  box-sizing: border-box;

  &:last-child {
    padding-bottom: var(--golden-gap);
    border-bottom: currentcolor solid var(--golden-gap);
  }
}

.main {
  position: absolute;
  width: 100%;
  background-color: var(--main-background-color);
}
