.listItem {
  box-sizing: border-box;

  &:last-child {
    border-block-end: currentcolor solid var(--gap-px);
    padding-block-end: var(--gap-px);
  }
}

.main {
  position: absolute;
  background-color: rgb(var(--bg-color-rgb));
  width: 100%;
}
