.listItem {
  box-sizing: border-box;

  &:last-child {
    border-block-end: currentcolor solid var(--golden-gap);
    padding-block-end: var(--golden-gap);
  }
}

.main {
  position: absolute;
  background-color: var(--main-background-color);
  width: 100%;
}
