.main {
  box-sizing: border-box;
  margin: var(--gap-rem-2x);
  cursor: default;
  padding: var(--gap-rem);
  text-align: center;
  color: var(--main-font-color);
  composes: no-text-overflow from '../../../core/styles/composes.module.css';
}
