@import '../../../core/styles/variables.css';

.main {
  composes: no-text-overflow from '../../../core/styles/composes.css';
  box-sizing: border-box;
  padding: var(--golden-gap 0);
  margin: var(--golden-gap-2x);
  color: var(--main-font-color);
  cursor: default;
  text-align: center;
}
