.main {
  box-sizing: border-box;
  margin: var(--gap-rem-2x);
  padding: var(--gap-rem);
  text-align: center;
  cursor: default;
  composes: no-text-overflow from '@/core/styles/composes.module.css';
}
