.main {
  /* stylelint-disable-next-line value-keyword-case */
  composes: noTextOverflow from '../../../core/styles/composes.css';
  box-sizing: border-box;
  padding: var(--golden-gap);
  margin: var(--golden-gap-2x);
  color: var(--main-font-color);
  cursor: default;
  text-align: center;
}
