.close {
  box-sizing: border-box;
  padding: 6px;
  height: 100%;
  color: rgb(var(--bg-color-rgb));

  &:hover {
    background-color: var(--main-color4);
  }
}

.main {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-block-end: var(--gap-px);
  background-color: currentcolor;
}

.title {
  margin: var(--gap-px-2x);
  cursor: default;
  line-height: 1;
  color: rgb(var(--bg-color-rgb));
  font-family: 'Archivo Narrow', simhei, sans-serif;
  font-size: 1.75rem;
  /* stylelint-disable-next-line value-keyword-case */
  composes: noTextOverflow from '../../../core/styles/composes.module.css';
}
