.close-button {
  padding: var(--gap-rem-3x);
  width: fit-content;
  height: stretch;
  color: var(--bg-color);

  &:hover {
    background-color: var(--main-color4);
  }
}

.close-icon {
  height: 100%;
}

.main {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-block-end: var(--gap-rem);
  background-color: var(--section-color);
  padding-inline-start: var(--gap-rem-2x);
}

.title {
  margin-block: var(--gap-rem-2x);
  cursor: default;
  line-height: 1;
  color: var(--bg-color);
  font-family: 'Archivo Narrow', system-ui, sans-serif;
  font-size: 1.375rem;
  font-weight: normal;
  composes: no-text-overflow from '@/core/styles/composes.module.css';
}
