.close {
  height: 100%;
  box-sizing: border-box;
  flex-shrink: 0; /* don't push me out of view when title is too long */
  padding: 6px;
  color: var(--main-background-color);

  &:hover {
    background-color: var(--main-color4);
  }
}

.main {
  --font-size: 1.75em;
  --padding: var(--golden-gap-2x);

  display: flex;
  height: calc(var(--font-size) + var(--padding) * 2);
  justify-content: space-between;
  margin-bottom: var(--golden-gap);
  background-color: currentcolor;
}

.title {
  /* stylelint-disable-next-line value-keyword-case */
  composes: noTextOverflow from '../../../core/styles/composes.module.css';
  padding: var(--padding);
  margin: 0;
  color: var(--main-background-color);
  cursor: default;
  font: var(--font-size) 'Archivo Narrow', simhei, sans-serif;
  line-height: 1;
}
