@import "../common/globals.scss";
@import "../common/variables.scss";

:global {
  body {
    -webkit-user-select: none;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
    width: 5px + $golden-gap;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $highlight-level3;
    border-left: $golden-gap solid $blank-color;

    &:hover {
      background-color: $highlight-level4;
      border: 0;
    }

    &:active {
      background-color: $highlight-level5;
    }
  }

  ::-webkit-search-cancel-button {
    content: url("/img/cancel.png");
    height: 10px;
    width: 14px;
  }
}

.main {
  background-color: inherit;
}
