@import "../common/variables.css";

.list {
  composes: plain-list from "../common/composes.css";
  overflow-y: auto;

  &::after {
    background-color: currentcolor;
    content: "";
    display: block;
    height: var(--golden-gap);
    margin-top: var(--golden-gap);
  }
}

.main {
  background-color: inherit;
  position: absolute;
  width: 100%;
}
