@import "../common/variables.css";

._panel {
  position: relative;

  &:not(:first-child) {
    margin-right: var(--golden-gap);
  }
}

.main {
  display: flex;
  flex-direction: row-reverse;
}

.master {
  color: var(--main-color2);
  composes: _panel;
}

.slave {
  color: var(--main-color1);
  composes: _panel;
}
