@import "../common/variables.scss";

.main {
  background-color: $blank-color;
  border: solid $highlight-level4;
  border-width: 1px 0;
  box-sizing: border-box;
  padding: $golden-gap-2x $golden-gap;
  position: absolute;
  text-align: right;

  & > button {
    margin: $golden-gap-2x 0 0 $golden-gap-2x;
  }

  & > input[type="text"] {
    border-color: $highlight-level3;
    box-sizing: border-box;
    margin: $golden-gap-2x 0 0;
    padding: $golden-gap;
    width: 100%;
  }
}

.title {
  background-color: $main-color2;
  color: $blank-color;
  cursor: default;
  float: left;
  padding: 1px 6px;
}
