@import '../common/variables.css';

.button {
  composes: button from '../common/composes.css';
}

.main {
  background-color: var(--oc-white);
  border: solid var(--highlight-level4);
  border-width: 1px 0;
  box-sizing: border-box;
  padding: var(--golden-gap-2x) var(--golden-gap);
  text-align: right;

  & > *:not(:first-child) {
    margin-top: var(--golden-gap-2x);
  }

  & > button + button {
    margin-left: var(--golden-gap-2x);
  }

  & > input[type='text'] {
    border-color: var(--highlight-level3);
    box-sizing: border-box;
    padding: var(--golden-gap-2x);
    width: 100%;
  }
}

.title {
  background-color: var(--main-color2);
  color: var(--oc-white);
  cursor: default;
  float: left;
  padding: var(--golden-gap) var(--golden-gap-4x);
}
