@import "../common/variables.scss";

.main {
  background-color: $blank-color;
  border: 1px solid $highlight-level4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: $golden-gap-2x;
  position: absolute;

  // separator between div
  & > ul + ul:not([hidden]) {
    border-top: 1px solid $highlight-level2;
    margin-top: $golden-gap;
    padding-top: $golden-gap;
  }
}
