@import "../common/mixins.css";
@import "../common/variables.css";

.main {
  composes: list-item from "../common/composes.css";
  padding: var(--golden-gap) var(--golden-gap-4x);
  white-space: nowrap;

  &.unclickable {
    @apply --grey-list-item;
  }

  &.focused:not(.unclickable) {
    @apply --highlight-list-item;
  }
}
