@import "../common/mixins.css";
@import "../common/variables.css";

.main {
  composes: list-item from "../common/composes.css";
  display: block;
  padding: var(--golden-gap) var(--golden-gap-4x);
  text-decoration: none;

  &.unclickable {
    @apply --grey-list-item;
  }

  &:not(.unclickable):hover {
    @apply --highlight-list-item;
  }
}
