@import "../common/variables.css";

.main {
  background-color: var(--blank-color);
  border: 1px solid var(--highlight-level4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: var(--golden-gap-2x);
  position: absolute;

  /* separator between div */
  & > ul + ul:not([hidden]) {
    border-top: 1px solid var(--highlight-level2);
    margin-top: var(--golden-gap);
    padding-top: var(--golden-gap);
  }
}
