@import "../common/variables.css";

.main {
  border: solid var(--highlight-level3);
  border-width: 0 0 1px;
  box-sizing: inline-box;
  display: flex;
  height: var(--input-height);
  margin-bottom: var(--golden-gap);

  & > input[type="search"] {
    background-color: transparent;
    border: 0;
    color: var(--main-font-color);
    font-size: 12px;
    outline: 0;
    padding: 0 var(--golden-gap);
    width: 100%;
  }

  &::before {
    content: url("../../img/search.png");
    padding: 5px 4px 4px 5px;
  }
}
