@import "../common/variables.css";

:root {
  --tree-header-height: 30px;
}

.close {
  background-color: transparent;
  flex-shrink: 0; /* don't push me out of view when title is too long */
  height: var(--tree-header-height);
  position: relative;
  width: var(--tree-header-height);

  &:hover {
    background-color: var(--main-color4);
  }

  &::before,
  &::after {
    background-color: var(--blank-color);
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
  }

  &::before {
    height: 12px;
    left: 14px;
    top: 9px;
    width: 2px;
  }

  &::after {
    height: 2px;
    left: 9px;
    top: 14px;
    width: 12px;
  }
}

.main {
  background-color: currentcolor;
  display: flex;
  height: var(--tree-header-height);
  margin-bottom: var(--golden-gap);
}

.title {
  color: var(--blank-color);
  composes: no-text-overflow from "../common/composes.css";
  cursor: default;
  font: 22px ArchivoNarrow, simhei;
  line-height: calc(var(--tree-header-height) + 1px);
  margin: 0;
  margin-right: auto;
  padding: 0 var(--golden-gap-2x);
}
