@import "../common/variables.scss";

$tree-header-height: 30px;

.close {
  background-color: transparent;
  flex-shrink: 0; // don't push me out of view when title is too long
  height: $tree-header-height;
  position: relative;
  width: $tree-header-height;

  &:hover {
    background-color: $main-color4;
  }

  &::before,
  &::after {
    background-color: $blank-color;
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
  }

  &::before {
    height: 12px;
    left: 14px;
    top: 9px;
    width: 2px;
  }

  &::after {
    height: 2px;
    left: 9px;
    top: 14px;
    width: 12px;
  }
}

.main {
  background-color: currentcolor;
  display: flex;
  height: $tree-header-height;
  margin-bottom: $golden-gap;
}

.title {
  color: $blank-color;
  composes: no-text-overflow from "../common/composes.scss";
  cursor: default;
  font: 22px ArchivoNarrow, simhei;
  line-height: $tree-header-height + 1px;
  margin: 0;
  margin-right: auto;
  padding: 0 $golden-gap-2x;
}
