@import '../../../core/styles/variables.css';

._panel {
  position: relative;

  &:not(:first-child) {
    margin-right: var(--golden-gap);
  }
}

.main {
  display: flex;
  flex-direction: row-reverse;
}

.master {
  composes: _panel;
  width: var(--width);
  color: var(--main-color2);
}

.slave {
  composes: _panel;
  width: var(--width);
  color: var(--main-color1);
}
