.main {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--golden-gap);
}

.master {
  position: relative;
  color: var(--main-color2);
}

.slave {
  position: relative;
  color: var(--main-color1);
}
