.main {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--gap-px);
}

.first-section {
  position: relative;
  color: var(--main-color2);
}

.second-section {
  position: relative;
  color: var(--main-color1);
}
