.main {
  display: inline-block;
  padding: var(--golden-gap-2x) var(--golden-gap-4x);
  border: 1px solid var(--main-color1);
  line-height: 1.5;
}

.checkbox {
  margin-right: var(--golden-gap-2x);
  vertical-align: middle;
}
