.main {
  display: inline-block;
  padding: var(--golden-gap-2x) var(--golden-gap-4x);
  border: 1px solid var(--main-color1);

  & > label {
    display: flex;
    align-items: center;

    & > input {
      margin-right: var(--golden-gap-2x);
    }
  }
}
