.main {
  position: relative;
  display: inline-block;
  border: 1px solid var(--main-color1);
}

.input,
.select {
  height: 100%;
  border: 0 !important;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  box-sizing: border-box;
  background-color: var(--main-background-color);
}

.select {
  background-color: transparent;
  outline: 0;
}
