.header {
  padding: var(--golden-gap) var(--golden-gap-4x);
  background-color: var(--main-color2);
  color: var(--main-background-color);
  cursor: default;
  float: left;
}

.input {
  composes: focus from '../../../core/styles/composes.css';
  composes: input from '../../../core/styles/composes.css';
  width: 100%;
  box-sizing: border-box;
  padding: var(--golden-gap-2x);
  border-color: var(--highlight-level2);
}

.main {
  width: var(--width);
  box-sizing: border-box;
  padding: var(--golden-gap-2x) var(--golden-gap);
  border: solid var(--highlight-level3);
  border-width: 1px 0;
  background-color: var(--main-background-color);
  text-align: right;

  & > *:not(:first-child) {
    margin-top: var(--golden-gap-2x);
  }

  & > button + button {
    margin-left: var(--golden-gap-2x);
  }
}
