.button-group {
  display: flex;
  gap: var(--gap-rem-2x);
  justify-content: end;
  margin-block: var(--gap-rem-2x);
}

.header {
  float: left;
  margin-block: var(--gap-rem-2x);
  background-color: var(--main-color2);
  cursor: default;
  padding-block: var(--gap-rem);
  padding-inline: var(--gap-rem-4x);
  color: rgb(var(--bg-color-rgb));
  font: inherit;
}

.input {
  box-sizing: border-box;
  display: block;
  margin-block: var(--gap-rem-2x);
  width: 100%;
}

.main {
  box-sizing: border-box;
  border-block: 1px solid var(--highlight-level3);
  background-color: rgb(var(--bg-color-rgb));
  padding-inline: var(--gap-rem-2x);
  text-align: right;
}
