.button-group {
  display: flex;
  gap: var(--golden-gap-2x);
  justify-content: end;
  margin-block: var(--golden-gap-2x);
}

.header {
  float: left;
  margin-block: var(--golden-gap-2x);
  background-color: var(--main-color2);
  cursor: default;
  padding-block: var(--golden-gap);
  padding-inline: var(--golden-gap-4x);
  color: var(--main-background-color);
}

.input {
  box-sizing: border-box;
  display: block;
  margin-block: var(--golden-gap-2x);
  width: 100%;
}

.main {
  box-sizing: border-box;
  border-block: 1px solid var(--highlight-level3);
  background-color: var(--main-background-color);
  padding-inline: var(--golden-gap-2x);
  text-align: right;
}
