doctype html
meta(charset="utf-8")
title Popup my Bookmarks
each x in ["common", "popup"]
  link(rel="stylesheet", href="css/#{x}.css")

body.panel-width
  div#container

  each x in ["common", "popup"]
    script(src="js/#{x}.js")
