@import "./_components/variables"
@import "../../node_modules/normalize.css/normalize.css"

@font-face
  font-family: ArchivoNarrow
  src: url("/font/ArchivoNarrow-Regular.woff")

body
  background-color: $blank-color
  color: $main-font-color

button
  background-color: $highlight-level1
  border: 0
  padding: 4px 8px

  &:focus,
  &:hover
    color: $main-color1

input[type="number"],
input[type="search"],
input[type="text"],
select
  background-color: $blank-color
  border: 1px solid $main-color1
  padding: 0 $golden-gap-2x
