@import "./components/variables"

highlight-item()
  background-color: $highlight-level1
  border-color: $highlight-level2

.bookmark-item
  align-items: center
  display: flex
  outline: 0
  padding: $golden-gap 0 $golden-gap $golden-gap
  text-decoration: none

  &:hover
    highlight-item()

.grey-item
  color: $highlight-level4 !important

  & > img
    opacity: .4

.icon
  margin-right: $golden-gap-2x

.item
  border: 1px solid transparent
  color: $main-font-color
  cursor: default

.menu-item
  display: block
  padding: $golden-gap 8px
  text-decoration: none

  &:not(.grey-item):hover
    highlight-item()

.no-bookmark > img
  display: none

.no-text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.panel
  background-color: inherit
  position: relative

.root-folder
  color: inherit !important

.selected
  highlight-item()

.separator
  box-sizing: border-box
  color: $highlight-level4

  & > img
    display: none

  & > span
    text-overflow: clip

#container
  background-color: inherit

#main
  color: $main-color2

#panel-box
  background-color: inherit
  display: flex
  flex-direction: row-reverse

#sub
  color: $main-color1
  margin-right: $golden-gap
