.cover {
  position: absolute;
  transition: inset-inline-start var(--transition-duration);
  background-color: var(--frontground-color);
  block-size: 100%;
  inline-size: 50%;
}

.main {
  --frontground-color: var(--main-color1);
  --background-color: rgb(var(--bg-color-rgb));
  --transition-duration: 0.4s;

  display: inline flow-root;
  position: relative;
  border: 1px solid var(--frontground-color);
  background-color: var(--background-color);
  text-align: center;
}

.options {
  display: inline grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}
