.cover {
  position: absolute;
  transition: inset-inline-start var(--transition-duration);
  background-color: var(--frontground-color);
  block-size: 100%;
}

.main {
  --frontground-color: var(--main-color1);
  --background-color: var(--bg-color);
  --transition-duration: 0.4s;

  display: inline flow-root;
  position: relative;
  border: 1px solid var(--frontground-color);
  background-color: var(--background-color);
}

.options {
  display: inline grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: stretch;
  isolation: isolate;
}
