.table {
  width: 100%;
  border-spacing: var(--golden-gap-4x);
  table-layout: fixed;

  & > tbody,
  & > tfoot {
    & > tr > td:first-child {
      text-align: right;
    }
  }
}

.itemDesc {
  overflow: hidden;
  white-space: no-wrap;
}

.itemInput {
  & > input[type='number'],
  & > input[type='text'],
  & > select {
    height: var(--input-height);
    box-sizing: border-box;
    padding: var(--golden-gap-2x) var(--golden-gap-4x);
    border-color: var(--main-color1);
  }
}
