.form {
  display: flow-root;
  margin-block: var(--gap-px-4x);
}

.table {
  /* unsetting the top and bottom spacing added by border-spacing as it does not support margin collapse */
  margin-block: calc(var(--gap-px-4x) * -1);
  width: 100%;
  table-layout: fixed;
  border-spacing: var(--gap-px-4x);

  & > tbody,
  & > tfoot {
    & > tr > td:first-child {
      text-align: right;
    }
  }
}

.itemInput {
  & > input[type='number'],
  & > input[type='text'],
  & > select {
    box-sizing: border-box;
    border-color: var(--main-color1);
    padding-block: var(--gap-px-2x);
    padding-inline: var(--gap-px-4x);
  }
}
