.desc {
  overflow: hidden;
  white-space: no-wrap;
}

.input {
  & > input[type='number'],
  & > input[type='text'],
  & > select {
    height: var(--input-height);
    box-sizing: border-box;
    padding: 0 var(--golden-gap-2x);
    border-color: var(--main-color1);
  }
}
