.focus {
  outline-width: 1px;
  outline-color: var(--highlight-level5);

  &:focus {
    outline-style: solid;
  }
}

.listItem {
  border: 1px solid transparent;
  cursor: default;
}

.noTextOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
