.focus {
  outline-color: var(--highlight-level5);
  outline-width: 1px;

  &:focus {
    outline-style: solid;
  }
}

.input {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  color: var(--main-font-color);
}

.list-item {
  border: 1px solid transparent;
  color: var(--main-font-color);
  cursor: default;
}

.no-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plain-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
