@import './variables.css';

.button {
  padding: var(--golden-gap-2x) var(--golden-gap-4x);
  border: 0;
  background-color: var(--highlight-level1);

  &:hover {
    color: var(--main-color1);
  }
}

.focus {
  outline-color: var(--highlight-level5);
  outline-width: 1px;

  &:focus {
    outline-style: solid;
  }
}

.input {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
}

.list-item {
  border: 1px solid transparent;
  color: var(--main-font-color);
  cursor: default;
}

.no-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plain-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
