.focus {
  outline-width: 1px;
  outline-color: var(--highlight-level5);

  &:focus-visible {
    outline-style: solid;
  }
}

.list-item {
  border: 1px solid transparent;
  cursor: default;
  line-height: 1;
}

.no-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
