@import './variables.css';

@font-face {
  font-display: fallback;
  font-family: 'Archivo Narrow';
  src: url('~typeface-archivo-narrow/files/archivo-narrow-latin-400.woff2');
}

:global(body) {
  margin: 0;
  background-color: var(--oc-white);
  color: var(--main-font-color);
}

:global([hidden]) {
  display: none !important;
}
