@import '@csstools/normalize.css';

:root {
  --golden-gap: 2px;
  --golden-gap-2x: calc(var(--golden-gap) * 2);
  --golden-gap-4x: calc(var(--golden-gap) * 4);
  --highlight-level1: #e9ecef;
  --highlight-level2: #dee2e6;
  --highlight-level3: #ced4da;
  --highlight-level4: #adb5bd;
  --highlight-level5: #868e96;
  --input-height: 22px;
  --main-background-color: #fff;
  --main-color1: #339af0;
  --main-color2: #ff922b;
  --main-color3: #20c997;
  --main-color4: #f03e3e;
  --main-color5: #8d6e63;
  --main-font-color: #212529;

  background-color: var(--main-background-color);
  color: var(--main-font-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight-level1: #343a40;
    --highlight-level2: #495057;
    --highlight-level3: #868e96;
    --highlight-level4: #adb5bd;
    --highlight-level5: #ced4da;
    --main-background-color: #212529;
    --main-color1: #4dabf7;
    --main-color2: #ffa94d;
    --main-color3: #38d9a9;
    --main-color4: #fa5252;
    --main-color5: #a1887f;
    --main-font-color: #fff;
  }
}

@font-face {
  font-display: fallback;
  font-family: 'Archivo Narrow';
  src: url('~typeface-archivo-narrow/files/archivo-narrow-latin-400.woff2');
}

:global(body) {
  margin: 0;
}
