.cover {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--frontground-color);
  transition: left var(--transition-duration);
}

.main {
  --frontground-color: var(--main-color1);
  --background-color: var(--main-background-color);
  --transition-duration: 0.4s;

  position: relative;
  display: inline-block;
  border: 1px solid var(--frontground-color);
  background-color: var(--background-color);
  text-align: center;
}

.options {
  position: relative;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}
