@import url('../../../core/styles/globals.module.css');

:root {
  user-select: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: calc(5px + var(--gap-px));
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-inline-start: var(--gap-px) solid rgb(var(--bg-color-rgb));
  background-color: var(--highlight-level3);

  &:hover {
    border: 0;
    background-color: var(--highlight-level4);
  }

  &:active {
    background-color: var(--highlight-level5);
  }
}
