@import '../../../core/styles/globals.module.css';

:root {
  user-select: none;
}

::-webkit-scrollbar {
  width: calc(5px + var(--golden-gap));
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-left: var(--golden-gap) solid var(--main-background-color);
  background-color: var(--highlight-level3);

  &:hover {
    border: 0;
    background-color: var(--highlight-level4);
  }

  &:active {
    background-color: var(--highlight-level5);
  }
}
