@import url('../../../core/styles/globals.module.css');

:root {
  user-select: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: var(--gap-rem-4x);
}

::-webkit-scrollbar-thumb {
  border-left: var(--gap-rem) solid var(--bg-color);
  background-color: var(--highlight-level3);

  &:hover {
    border: 0;
    background-color: var(--highlight-level4);
  }

  &:active {
    background-color: var(--highlight-level5);
  }
}
