.main {
  display: grid;
  grid-auto-flow: column;
  background-color: var(--main-color5);
  min-inline-size: calc(16rem * 4);
}

.button {
  border: 0;
  border-block-end: var(--gap-px-2x) solid transparent;
  background-color: transparent;
  cursor: default;
  padding-block-start: var(--gap-px-2x);
  text-align: center;
  color: rgb(var(--bg-color-rgb));
  font: 1.5rem 'Archivo Narrow', sans-serif;
  composes: focus from '../../../core/styles/composes.module.css';

  &:is(:hover, .active) {
    &:nth-of-type(1) {
      border-block-end-color: var(--main-color1);
    }

    &:nth-of-type(2) {
      border-block-end-color: var(--main-color2);
    }

    &:nth-of-type(3) {
      border-block-end-color: var(--main-color3);
    }

    &:nth-of-type(4) {
      border-block-end-color: var(--main-color4);
    }
  }
}
