.main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  background-color: var(--main-color5);
}

.button {
  border: 0;
  border-block-end: var(--gap-rem-2x) solid transparent;
  background-color: transparent;
  cursor: default;
  padding-block-start: var(--gap-rem-2x);
  text-align: center;
  color: var(--bg-color);
  font:
    1.125rem 'Archivo Narrow',
    sans-serif;
  composes: focus no-text-overflow from '../../../core/styles/composes.module.css';

  &:is(:hover, .active) {
    &:nth-of-type(1) {
      border-block-end-color: var(--main-color1);
    }

    &:nth-of-type(2) {
      border-block-end-color: var(--main-color2);
    }

    &:nth-of-type(3) {
      border-block-end-color: var(--main-color3);
    }

    &:nth-of-type(4) {
      border-block-end-color: var(--main-color4);
    }
  }
}
